

/* header */
.user-header .util-menu{
	display: flex;
	align-items: center;
	position: relative;
}

.user-header .util-menu .account-menu{
	position: absolute;
	right: 0;
	top: 110%;
	border: 1px solid #e8e8e8;
	border-radius: 8px;
	background-color: #fff;
	overflow: hidden;
}
.user-header .util-menu .util-menu__link{
	display: flex;
	align-items: center;
}
.user-header .util-menu .util-menu__link + .util-menu__link{
	margin-left: 24px;
}

.user-header .util-menu .account-menu{
	display: none;
	opacity: 0;
	z-index: 301;
}
.user-header .util-menu .util-menu__link:last-child.show .account-menu{
	display: block;
	opacity: 1;
}

.user-header .util-menu .account-menu li{
	padding: 8px 24px;
	display: flex;
}
.user-header .util-menu .account-menu li:hover{
	background-color: #f5f6f8;
}
.user-header .util-menu .account-menu li > * {
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
}

/* user-gnb */
.gnb .lst-gnb__item{
	position: relative;
	display: flex;
	align-items: center;
	padding: 14px 24px;
}
.gnb .lst-gnb__item > span{
	position: relative;
	font-size: 17px;
	font-weight: 500;
	color: #8293a7;
}
.gnb .lst-gnb__item > span:after{
	content:'';
	position: absolute;
	left: 0;
	bottom: -4px;
	height: 2px;
	width: 0;
	background-color: #3C7DFF;
}
.gnb .lst-gnb__item:hover > span{
	color: #1a1a2e;
	transition: font-weight 0.14s;
}

.gnb .lst-gnb__item:hover > span:after{
	width: 100%;
	transition: width 0.14s;
}

.gnb .gnb-sub{
	display: none;
}
.gnb .lst-gnb__item:hover .gnb-sub{
	display: block;
	position: absolute;
	top: 44px;
	left: 0;
	width: 256px;
	padding: 12px 0;
	background-color: #fff;
	border: 1px solid #f0f3f8;
	border-top-color: #fff;
	box-shadow: 0px 4px 10px rgba(44, 44, 44, 0.1);
}

.gnb-sub .lst-sub__title{
	display: block;
	padding: 10px 24px;
	font-size: 0.9em;
	font-weight: 700;
	color: rgba(27, 38, 44, 0.6);
}
.gnb-sub .lst-sub__link{
	display: block;
	padding: 8px 24px 8px 36px;
}
.gnb-sub .lst-sub__link > span{
	position: relative;
}
.gnb-sub .lst-sub__item:hover{
	font-weight: 700;
}

.gnb-sub .lst-sub__item:hover .lst-sub__link > span:before{
	content: '';
	position: absolute;
	left: -12px;
	top: 50%;
	transform: translateY(-50%);
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #3C7DFF;
}

.user-header .gnb-wrap .buttons.mobile{
	display: none;
}

/* user-container */
.user-container .inner-wrap > div + div{
	margin-top: 36px;
}

.user-container .section-top .input-box-wrap > .input-box > div,
.user-container .component__search .input-box-wrap > .input-box > div{
	display: flex;
}
.user-container .section-top .input-box-wrap > .input-box > div > .input-box + *,
.user-container .component__search .input-box-wrap > .input-box > div > .input-box + *{
	margin-left: 16px;
}

.user-container .component-box .component__title{
	color: #8293A7;
}
.user-container .content__title{
	position:relative;
	color: #3A579B;
	padding-left: 12px;
}
.user-container .content__title:before{
	content: '';
	position: absolute;
	left: 0;
	top: 2px;
	height: 16px;
	width: 4px;
	background-color: #3A579B;
}


/* ========== elements ========== */

/* select-month */
.select-month{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.select-month > p{
	padding: 0 12px;
	color: #67707c;
	font-weight: 700;
	font-size: 1.2em;
}

/* lst-info */
.lst-info{
	display: flex;
	flex-direction: column;
}
.lst-info__item{
	display: flex;
	align-items: center;
}
.lst-info__item + .lst-info__item{
	margin-top: 12px;
}
.lst-info__item > p + p {
	margin-left: 16px;
}

/* status-txt */
.status-txt--large{
	font-size: 1.28em;
}
.status-txt--large .bold{
	font-size: 1.34em;
	letter-spacing: 0.08em;
}
.status--up .bold span,
.status--down .bold span{
	display: block;
	font-size: 0.8em;
	color: #666;
	padding-top: 2px;
	font-weight: 400;
}

.status--up{
	color: #2B5BC7;
}
.status--down{
	color: #F41200; 
}
.status--up .icon-triangle,
.status--down .icon-triangle{
	position: relative;
	display: block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: 1px solid #E8EBF0;
	margin-right: 8px;
}
.status--up .icon-triangle:after{
	content: '';
	position: absolute;
	left: 4px;
	top: 4px;
	width: 0px;
	height: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 8px solid #2B5BC7;
}
.status--down .icon-triangle:after{
	content: '';
	position: absolute;
	left: 4px;
	top: 5px;
	width: 0px;
	height: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 8px solid #F41200;
}

.table .status--up .icon-triangle,
.table .status--down .icon-triangle{
	display: inline-block;
	border-radius: 0;
	margin-right: 4px;
	margin-bottom: 1px;
}
.table .status--up .icon-triangle:after,
.table .status--down .icon-triangle:after{
	border: 0;
}

.table .status--up .icon-triangle{
	width: 0px;
	height: 0px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 6px solid #2B5BC7;
}
.table .status--down .icon-triangle{
	width: 0px;
	height: 0px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 6px solid #F41200;
}
.box-cnt .status--up .icon-triangle,
.box-cnt .status--down .icon-triangle{
	margin-right: 4px;
	border: 0;
}

/* EIS */
.component__eis-1 > .flex-box {
	width: 100%;
	justify-content: space-between;
}
.component__eis-1 > .flex-box > div{
	flex-grow: 1;
}
.component__eis-1 > .flex-box > div + div{
	margin-left: 16px;
}
.component__eis-1 > .flex-box .lst-cards + .lst-cards{
	margin-top: 16px;
}
.component__eis-1 > .flex-box .lst-cards .component-area{
	padding: 24px;
	justify-content: center;
}
.component__eis-1 .lst-cards .component-area > .component-box{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.img-box img{
	width: 100%;
	height: auto;
}
.img-box.icon-eis-pipeline{
	width: 36%;
	min-width: 36px;
	max-width: 60px;
	margin-bottom: 12px;
}



@media (max-width: 1440px) {
	/* eis */
	.component__eis-1 > .flex-box{
		flex-direction: column;
	}
	.component__eis-1 > .flex-box > div + div{
		margin-top: 16px;
		margin-left: 0;
	}
	.component__eis-1 .lst-cards .component-area + .component-area {
		margin-top: 0
	}
}

/* mobile */
@media (max-width: 768px) {

	/* nav */
	.user-header .gnb-wrap.show{
		background-color: #0c1830;
		color: #fff;
		font-size: 1.1em;
	}
	.user-header .gnb-top{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 24px 0 16px;
		border-bottom: 1px solid rgba(255,255,255,0.5);
		margin-bottom: 16px;
	}

	.user-header .user-name{
		display: flex;
	}
	.user-header .user-name .img-user{
		width: 54px;
		height: 54px;
		margin-right: 16px;
	}
	.user-header .user-name__txt {
		font-size: 1.4em;
	}
	
	.user-header .gnb-top .link-mypage{
		align-self: flex-end;
	}

	.user-header .lst-gnb{
		flex-direction: column;
		font-size: 1.1em;
		max-height: 74%;
		overflow: auto;
	}
	.user-header .gnb-sub .lst-sub__title{
		padding: 8px 16px;
		color: rgba(255,255,255,0.4)
	}
	.user-header .gnb .lst-gnb__item{
		flex-direction: column;
		align-items: flex-start;
	}
	.user-header .gnb .lst-gnb__item > span{
		color: #fff;
	}
	.user-header .gnb-sub .lst-sub__link{
		padding-left: 28px; 
		padding-right: 0;
	}
	.user-header .gnb .lst-gnb__item:hover > span{
		color: #fff;
	}
	.user-header .gnb .lst-gnb__item:hover .gnb-sub{
		position: static;
		background-color: transparent;
		border: 0;
		box-shadow: none;
		/* padding-bottom: 0; */
	}
	.user-header .gnb-wrap .buttons.mobile{
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		width: calc(100% - 24px);
		position: absolute;
		bottom: 32px;
		left: 0;
	}
	

	/* user-container */
	.user-container .inner-wrap > div:nth-child(2){
		margin-top: 0;
	}

	.user-container .section-top .input-box-wrap > .input-box,
	.user-container .component__search .input-box-wrap > .input-box{
		flex-direction: column;
		align-items: center;
	}
	
	.user-container .section-top .input-box-wrap > .input-box > div,
	.user-container .component__search .input-box-wrap > .input-box > div{
		margin-left: 0;
		margin-top: 4px;
		width: 100%;
	}
	.user-container .section-top .input-box-wrap > .input-box > div > .input-box + *,
	.user-container .component__search .input-box-wrap > .input-box > div > .input-box + *{
		margin-left: 4px;
	}
	

	.lst-wrap .lst__item{
		width: 100%;
		display: grid;
		border: 1px solid #E8EBF0;
		border-radius: 8px;
	}
	.lst__item + .lst__item{
		margin-top: 8px;
	}
	.lst__item > .element{
		padding: 4px 6px;
		display: flex;
		align-items: center;
	}

	/* 영업CRM-거래처조회 lst-vender */
	.lst-vender{
		grid-template-columns: 1fr 1fr 64px;
		grid-template-rows: 1fr 1fr;
	}
	.lst-vender__item:nth-child(3),
	.lst-vender__item:nth-child(5) {
		justify-content: center;
	}
	.lst-vender__item:nth-child(4){
		grid-column: 1 / 3;
	}

	/* 영업CRM-영업기회현황 lst-opprtunities */
	.lst-opportunities{
		grid-template-columns: 80px 88px 1fr 64px;
		grid-template-rows: 1fr 1fr;
	}
	.lst-opportunities__item:nth-child(2),
	.lst-opportunities__item:nth-child(4),
	.lst-opportunities__item:nth-child(6),
	.lst-opportunities__item:nth-child(8) {
		justify-content: center;
	}
	
	/* 영업CRM-영업활동현황 lst-activities */
	.lst-activities{
		grid-template-columns: 108px 64px 1fr 88px;
		grid-template-rows: 1fr 1fr;
	}
	.lst-activities__item:nth-child(4),
	.lst-activities__item:nth-child(8) {
		justify-content: center;
	}

	/* 영업CRM-고객현황 lst-clients */
	.lst-clients{
		grid-template-columns: minmax(80px, auto) 1fr 72px 72px 116px;
	}
	.lst-clients__item:nth-child(1){
		flex-direction: column;
		align-items: flex-start;
	}
}