/* login */
.login-container{
	display: flex;
	align-items:center;
	justify-content: center;
	flex-grow: 1;
	height: 100vh;
	padding: 0;
}

.section__login{
	padding: 56px;
	box-sizing: border-box;
}
.section__login .section__title{
	font-size: 2.4em;
	margin: 24px 0 28px;
	font-weight: 500;
}

.form__login > .input-box{
	margin-bottom: 8px;
}
.form__login .input{
	width: 100%;
}
.form__login .login-option{
	margin: 12px 0 32px;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.form__login .login-option > div{
	display: flex;
	align-items: center;
}
.form__login .login-option .input-box + .input-box{
	margin-left: 16px;
}

.form__login .login-option > .link{
	position: relative;
	padding-bottom: 3px;
}
.form__login .login-option > .link:after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 1px;
	background-color: #9ba4b4;
	opacity: 30%;
}

.form__login .button__login{
	font-size: 1.2em;
	font-weight: 700;
	width: 416px;
	padding: 14px 0;
	border-radius: 25px;
	justify-content: center;
	background-color: #2B5BC7;
	border-color: #2B5BC7;
	color: #fff;
}

/* mobile */
@media (max-width: 768px) {
	.section__login{
		padding: 36px 24px;
		margin-top: -16vh;
	}
	.section__login .logo.logo-rec{
		justify-content: center;
	}
	.section__login .section__title{
		font-size: 2em;
		text-align: center;
	}
	.form__login .login-option{
		flex-direction: column;
		margin: 16px 0 24px; 
	}
	.form__login .login-option > div{
		flex-direction: column;
		margin-bottom: 16px;
	}
	.form__login .button__login{
		width: 70vw;
	}
}