@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

*{
	padding: 0;
	margin: 0;
}
html,
body{
    height: 100%;
}
body{
		font-family: 'Noto Sans KR', 'Malgun Gothic', Roboto, sans-serif;
		line-height: 1.2;
		font-size: 14px;
		color: #1a1a2e;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
}
ol, ul{
    list-style: none;
}
button,
input,
select{
    font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}
button{
		cursor: pointer;
}
input[type=checkbox], input[type=radio] {
	overflow: hidden;
	opacity: 0;
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
} 

input::placeholder{
	color: rgba(103, 112, 124, 0.5);
	font-weight: 400;
}
a:link,
a:visited,
a:hover,
a:active{
    color: inherit;
    text-decoration: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
address{
    font-style: inherit;
}


@media (max-width: 768px) {
	body{
		font-size: 13px;
	}
}