@charset "UTF-8";

/* animation */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}


/* ========== layout ========== */
.wrap{
	display: grid;
	grid: 'header header'
				'lnb container';
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	height: 100vh;
	overflow: hidden;
}

.header {
	grid-area: header;
	border-bottom: 1px solid #f0f3f8;
	box-shadow: 0px 3px 20px rgba(44,44,44,0.1);
	z-index: 500;

	display: flex;
	flex-direction: column;
}

.gnb{
	position: relative;
	display: flex;
	align-items: center;
	background-color: #fff;
	padding: 0 24px;
	z-index: 300;
}
.lnb{
	grid-area: lnb;
	min-width: 216px;
	padding: 24px;
	background-color: #fff;
	box-shadow: 1px 0 10px rgba(0,0,0,.1);
	overflow-y: auto;
	z-index: 100;
	/* transition: transform 0.4s;
	animation: 0.4s fadeIn forwards; */
}
/* .lnb.off{
	transform: translateX(-100%);
	transition: transform 0.4s;
	animation: 0.4s fadeOut forwards;
} */


.container{
	grid-area: container;
	padding: 32px 40px;
	background-color: #F0F3F8;
	overflow: auto;
}

.mypage-container{
	display: flex;
	justify-content: center;
	flex-grow: 1;
	height: 100%;
	padding: 0;
}
.section__mypage{
	width: 480px;
	padding: 24px;
	box-sizing: border-box;
}
.section__mypage .buttons-complete{
	padding-bottom: 24px;
}


/* header */
.header .header-top{
	height: 56px;
	padding: 0 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header .section__title--mobile{
	display: none;
}

/* gnb */
.header .button__lnb{
	position: relative;
	width: 20px;
	height: 20px;
}
.button__lnb .nav-bar{
	position: absolute;
	left: 3px;
	width: 14px;
	height: 2px;
	border-radius: 1px;
	background-color: rgba(174, 185, 203, 0.5);
}
.button__lnb .nav-bar:first-of-type{
	top: 4px;
}
.button__lnb .nav-bar:nth-of-type(2){
	top: 9px;
}
.button__lnb .nav-bar:nth-of-type(3){
	top: 14px;
}
.lnb-icon .button__lnb + span{
	padding-left: 4px;
	font-size: 0.86em;
	color: #AEB9CB;
}

.lst-gnb{
	display: flex;
}
.lst-gnb .lst-gnb__title{
	font-size: 0.86em;
	font-weight: 700;
	opacity: 0.3;
	padding: 12px 24px;
	margin-top: 12px;
}
.lst-gnb .lst-gnb__title:first-of-type{
	margin-top: 0;
}

.lst-gnb .lst-gnb__item > span.icon{
	margin-right: 12px;
}

.lst-gnb .lst-gnb__item:hover > .lst-lnb {
	display: block;
	opacity: 1;
}
.lst-gnb .lst-gnb__item.on > span{
	opacity: 1;
}

/* lnb */
.lnb .lst-lnb__item > div{
	display: block;
	padding: 10px 8px;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: space-between;
}
.lnb .lst-lnb__item > div:hover{
	color: #3C7DFF;
	font-weight: 700;
}
.lst-lnb > .lst-lnb__item:first-child > div{
	font-weight: 700;
	font-size: 1.3em;
	color: #1b262c;
	padding-bottom: 14px;
	border-bottom: 2px solid #e8ebf0;
}
.lst-lnb > .lst-lnb__item:first-child > ul {
	display: block;
}
.lst-lnb  .lst-lnb__item > ul{
	display: none;
}

.lst-lnb .lst-lnb__item.show > div:first-child{
	font-weight: 700;
}
.lst-lnb > .lst-lnb__item.show:first-child > div{
	color: #1b262c;
}
.lst-lnb .lst-lnb__item.show > ul{
	display: block;
	padding-left: 8px;	
}


/* popup */
.popup{
	display: none;
}
.popup.show{
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 500;
}

.popup .component-area{
	min-width: 24vw;
	max-width: 64vw;
	box-sizing: border-box;

}
.popup .component-area .inner-wrap{
	max-height: 80vh;
	overflow: hidden;
}
.popup-top{
	padding-bottom: 16px;
	margin-bottom: 24px;
	border-bottom: 1px solid #e7ecf0;
}
.popup-contents{
	max-height: calc(80vh - 61px);
	overflow-y: auto;
}

.popup-contents .component-box-wrap{
	display: flex;
}
.popup-contents .component-box-wrap > div{
	width: 50%;
	height: 50vh;
}

.popup-contents .tree-area{
	padding: 0 16px 16px;
}
.popup-contents .search-result-wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.popup-contents .search-result-box{
	flex: 1;
	width: 100%;
	padding: 16px;
	border: 1px solid #e7ecf0;
	border-radius: 8px;
	box-sizing: border-box;
	overflow: hidden;
}

.popup .button__close{
	position: absolute;
	right: 36px;
	top: 36px;
}
.popup .button__close .icon-close{
	margin-right: 0;
}

.popup-contents .vue-daum-postcode{
	width: 50vw;
}

.popup.popup__tree .component-area{
	width: 56vw;
}
.popup.popup__info-change .component-area{
	width: 360px;
}


/* lst-search-result */
.popup .lst-search-result{
	overflow: auto;
}
.popup .lst-search-result .lst-search__item{
	padding: 6px 8px;
}
.popup__tree .lst-search-result .lst-search__item > span + span{
	padding-left: 8px;
}
.popup__tree .lst-search-result .input-checkbox__label span{
	font-size: 1em;
	color: #1b1c25;
}


/* common class */
.mobile{
	display: none;
}
.hidden{
	display: none;
}
.blind {
	position: absolute;
	top: 0;
	left: -99999px;
	text-indent: -99999px;
	width: 1px;
	height: 1px;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}

.bold{
	font-weight: 700;
}

.text-align__left{
	text-align: left;
}
.text-align__center{
	text-align: center;
}
.text-align__right{
	text-align: right;
}

.border--none{
	border: 0;
}

.flex-box{
	display: flex;
}


/* logo-temp */
.logo .mark{
	border-radius: 50%;
	background-color: #3C7DFF;
	width: 32px;
	height: 32px;
	font-size: 1.8em;
	line-height: 1;
	margin-bottom: 6px;
	
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo p.mark span{
	margin-top: -2px;
	color: #fff;
	font-weight: 800;
}

.logo p:last-child{
	letter-spacing: 0.025em;
	display: flex;
	flex-direction: column;
}

.logo p:last-child > span:first-child{
	padding-bottom: 2px;
}
.logo p:last-child > span:first-child > span{
	color: #2B5BC7;
}
.logo p:last-child > span:last-child{
	font-size: 11px;
	display: block;
	color: #666;
}

.logo.logo-rec {
	display: flex;
	padding: 0;	
}
.logo.logo-rec .mark{
	font-size: 2.6em;
	width: 48px;
	height: 48px;
	margin-right: 16px;
}
.logo.logo-rec p:last-child > span:first-child{
	font-size: 20px;
}
.logo.logo-rec p:last-child > span:last-child{
	font-size: 14px;
}

.logo.logo-line{
	display: flex;
}
.logo.logo-line .mark{
	margin-right: 8px;
	margin-bottom: 0;
}
.logo.logo-line p:last-child > span:first-child {
	font-size: 18px;
	padding-right: 16px;
}
.logo.logo-line p:last-child{
	flex-direction: row;
	align-items: center;
}
.logo.logo-line p:last-child > span:last-child{
	font-size: 14px;
	font-weight: 400;
}

.logo.logo--small .mark{
	font-size: 2em;
	width: 40px;
	height: 40px;
	margin-right: 12px;
}
.logo.logo--small p:last-child > span:first-child{
	font-size: 1.2em;
}
.logo.logo--small p:last-child > span:last-child{
	font-size: 0.85em;
}


/* section */
.section-top{
	margin-bottom: 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


/* component */
.component-area-wrap{
	margin-bottom: 16px;
}
.component-area {
	position: relative;
	background-color: #fff;
	/* border: 1px solid #e8ebf0; */
	border-radius: 6px;
	padding: 32px;
	box-shadow: 2px 2px 10px rgba(24,24,24,0.08);
}

.component-area + .component-area{
	margin-top: 16px;
}

.flex-box .component-area + .component-area{
	margin-top: 0;
}

.component-box-wrap{
	margin-top: 24px;
}

.component-box + .component-box{
	margin-top: 24px;
}

.component-box.component-box-top{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.component-box-top{
	margin-bottom: 8px;
	display: flex;
	align-items: center;
}
.component-box-cnt > * + * {
	margin-top: 8px;
}


.component__search{
	display: flex;
	align-items: center;
}
.component__search form{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.component__search form > * {
	margin-left: 16px;
}
.component__search form > *:first-child{
	margin-left: 0;
}
.component__search .input-box{
	flex-grow: 1;
}

.component__search .result-search{
	margin-left: 16px;
}


/* title */
.page__title{
	font-size: 20px;
	padding: 12px 0 32px;
}
.section__title{
	font-size: 1.6em;
}
.content__title{
	display: block;
	font-size: 1.2em !important;
	margin-bottom: 16px;
	font-weight: 700;
}


.content__title .content-sub__title{
	display: inline-block;
	border-left: 2px solid #b2bbca;
	margin-left: 16px;
	padding-left: 16px;
}
.component-box-top .content__title{
	margin-bottom: 0;
}
.sub__title{
	font-size: 1.2em;
	margin-bottom: 16px;
	font-weight: 700;
}
.component__title{
	font-weight: 700;
}

.popup__title{
	font-size: 1.2em;
	font-weight: 700;
}


/* box */
.box{
	display: flex;
	flex-direction: column;
	border: 1px solid #e7ecf0;
}
.box-top{
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #e7ecf0;
	background-color: #3A579B;
	color: #fff;
	padding: 8px;
}

.box-cnt{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	padding: 12px;
}
.box-cnt > div{
	flex-grow: 1;
}

.box.box--horizontal{
	flex-direction: row;
}
.box.box--horizontal + .box.box--horizontal{
	margin-top: 2px;
}
.box.box--horizontal .box-top{
	width: 32%;
}

/* underline
.underline{
	position: relative;
}
.underline:before{
	content: '';
	position: absolute;
	bottom: 6px;
	left: 0;
	width: 100%;
	height: 4px;
}
.underline.opt1:before{
	background-color: #3A579B;
} */

/* message */
.msg-canceled {
	text-align: center;
	font-size: 0.86em;
	color: #67707c;
	margin-top: 6px;
}
.msg-state{
	font-size: 0.86em;
	color: #F41200;
	margin-top: 6px;
}
.msg-info{
	font-size: 0.86em;
}

/* link */
a.link{
	position:relative;
	color: #AEB9CB;
	font-size: 0.86em;
	padding-bottom: 2px;
}
a.link:hover::before{
	content:'';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #AEB9CB;
}

/* user-picture */
.user-name,
.dept-name{
	display: flex;
	align-items: center;
}

.img-user{
	flex-shrink: 0;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid #E8EBF0;
	box-shadow: 0 0px 8px rgba(0,0,0,0.1);
	overflow: hidden;
	margin-right: 12px;
	text-align: center;
	background: url("../images/user-default.png") no-repeat center / cover;
}
.img-user.img-user--large{
	width: 80px;
	height: 80px;
}
.img-user img{
	width: 100%;
	height: auto;
}
.user-info-box > p{
	line-height: 1.6;
}
.info__name{
	letter-spacing: 0.08em;
}
.info__name .bold{
	font-size: 1.2em;
}
.user-name .user-position,
.user-name .user-dept{
	letter-spacing: 0;
	font-size: 0.86em;
	font-weight: 400;
}
.user-name .user-dept{
	display: block;
	padding-top: 4px;
	color: #67707c;
}

.header .user-name > p{
	font-size: 1.1em;
}
.user-name + .icon-arrow{
	margin-left: 16px;
}

.dept-name .icon-dept{
	margin-right: 12px;
}

.user-info{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-bottom: 24px;
	border-bottom: 1px solid #e7ecf0;
}
.user-info .img-user{
	margin-right: 0;
	margin-bottom: 8px;
}
.user-info .info__name{
	font-size: 1.4em;
}


/* tree */
.tree-area{
	padding-top: 16px;
	overflow: hidden;
}
.tree-area .el-tree{
	overflow: auto;
}
.tree-area .el-tree-node__content{
	height: auto;
}
.tree-area .el-tree-node.is-expanded > .el-tree-node__content > .el-tree-node__label,
.tree-area .el-tree-node.is-current > .el-tree-node__content > .el-tree-node__label{
	font-weight: 700;
	color: #16213e;
}
.tree-area .el-tree-node__content>.el-tree-node__expand-icon{
	padding: 10px 6px;
}


/* lst-cards */
.lst-cards{
	display: grid;
	grid-gap: 16px;
}
.lst-cards.lst-cards__2colums{
	grid-template-columns: repeat(2, 1fr);
}
.lst-cards.lst-cards__3colums{
	grid-template-columns: repeat(3, 1fr);
}
.lst-cards.lst-cards__4colums{
	grid-template-columns: repeat(4, 1fr);
}
.lst-cards.lst-cards__5colums{
	grid-template-columns: repeat(5, 1fr);
}
.lst-cards.lst-cards__6colums{
	grid-template-columns: repeat(6, 1fr);
}
.lst-cards.lst-cards__7colums{
	grid-template-columns: repeat(7, 1fr);
}
.lst-cards.lst-cards__8colums{
	grid-template-columns: repeat(8, 1fr);
}

.lst-cards__item{
	padding: 12px;
	border: 1px solid #e7ecf0;
	border-radius: 8px;
	box-shadow: 1px 1px 8px rgba(24,24,24,0.08);

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.lst-cards__item.cards__dept{
	min-height: 36px;
}

.lst-cards .component-area + .component-area{
	margin-top: 0;
}


/* lst-status */
.lst-status{
	min-width: 40px;
	max-width: 72px;
	color: #fff;
	font-size: 0.86em;
	padding: 6px;
	border-radius: 13px;
	border: 0;
	margin: 0 auto;
	text-align: center;
}
.lst-status .opt__txt{
	display: none;
}
.lst-status.opt1{
	background-color: #3A579B;
}
.lst-status.opt2{
	background-color: #CE0D00
}
.lst-status.opt3{
	background-color: #7FD323;
}
.lst-status.opt4{
	background-color: #7B26D7;
}
.lst-status.opt5{
	background-color: #AEB9CB;
}
.lst-status.opt6{
	background-color: #FE8F00;
}
.lst-status.opt1 .opt1__txt{
	display: block;
}
.lst-status.opt2 .opt2__txt{
	display: block;
}
.lst-status.opt3 .opt3__txt{
	display: block;
}
.lst-status.opt4 .opt4__txt{
	display: block;
}
.lst-status.opt5 .opt5__txt{
	display: block;
}
.lst-status.opt6 .opt6__txt{
	display: block;
}

/* .lst-status-multiple */
.lst-status.lst-status-multiple{
	display: flex;
	background-color: transparent;
}
.lst-status-multiple .opt__txt{
	min-width: 40px;
	padding: 6px;
	border-radius: 13px;
	border: 0;
	text-align: center;
}
.lst-status-multiple .opt__txt + .opt__txt{
	margin-left: 6px;
}

.lst-status.lst-status-multiple.opt1 .opt1__txt{
	display: block;
	background-color: #3A579B;
}
.lst-status.lst-status-multiple.opt2 .opt2__txt{
	display: block;
	background-color: #CE0D00
}
.lst-status.lst-status-multiple.opt3 .opt3__txt{
	display: block;
	background-color: #7FD323;
}
.lst-status.lst-status-multiple.opt4 .opt4__txt{
	display: block;
	background-color: #AEB9CB;
}
.lst-status.lst-status-multiple.opt5 .opt5__txt{
	display: block;
	background-color: #3A579B;
}
.lst-status.lst-status-multiple.opt6 .opt6__txt{
	display: block;
	background-color: #FE8F00;
}


/* select-options */
.select-options{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12%, auto));
	gap: 16px;
}
.select-options .select-options__item{
	position: relative;
	display: block;
}
.select-options .input{
	position: absolute;
	flex-grow: 0;
}
.select-options .input + label{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #e7ecf0;
	border-radius: 10px;
	padding: 11px 0;
	
}
.select-options .input:checked + label{
	background-color: #3C7DFF;
	color: #fff;
	font-weight: 700;
}

/* tab */
.tab-area .el-tabs .el-tabs__item.is-active{
	color: #2B5BC7;
	font-weight: 700;
}
.tab-area .el-tabs .el-tabs__item:hover{
	color: #2B5BC7;
}
.tab-area .el-tabs .el-tabs__active-bar{
	background-color: #2B5BC7;
}

.lst-tab{
	display: flex;
	align-items: center;
	border: 1px solid #b2bbca;
	border-radius: 4px;
}
.lst-tab .lst-tab__item .lst-tab__link{
	display: flex;
	padding: 8px 12px;
	color: #666;
}
.lst-tab .lst-tab__item + .lst-tab__item{
	border-left: 1px solid #b2bbca;
}

.lst-tab .lst-tab__item.on .lst-tab__link{
	border-color: #6a197d;
	background-color: #6a197d;
	color: #fff;
}
.lst-tab .lst-tab__item:first-child.on .lst-tab__link{
	border-radius: 4px 0 0 4px;
}
.lst-tab .lst-tab__item:last-child.on .lst-tab__link{
	border-radius: 0 4px 4px 0;
}

.tab-cnt-wrap .tab-cnt {
	display: none;
}
.tab-cnt-wrap .tab-cnt.show {
	display: block;
}


/* input-box */
.input-box-wrap + .input-box-wrap{
	margin-top: 8px;
}

.input-box{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* .input-box + .input-box{
	margin-top: 6px;
} */
.input-box > * + *{
	margin-left: 16px;
}
.input-box-icon .icon + .input{
	margin-left: 0;
}
.input-box-icon .input + .icon{
	margin-left: 0;
}

.input-box.input-box-icon{
	position: relative;
}
.input-box.input-box-icon .icon{
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
}

/* input */
.input,
.input-select{
	border-radius: 6px;
	background-color: #fff;
	border: 1px solid #e7ecf0;
	padding: 8px 12px;
	box-sizing: border-box;
	flex-grow: 1;
}

.input:read-only{
	background-color: #f8f8f8;
	color: rgba(103, 112, 124, 0.3);
}
.input:focus{
	border-color: #2B5BC7;
}

.input--large{
	padding: 16px 12px;
}

.input-icon{
	padding-left: 36px;
}


/* el-date-picker */
.input-box .el-input__inner{
	height: 36px;
	border-radius: 6px;
	border-color: #E8EBF0;
}
.input-box .el-input__inner:hover,
.input-box .el-input__inner:focus{
	border-color:  #2B5BC7;
}
.input-box .el-input__icon{
	line-height: 36px;
}
.input-box .el-input--suffix .el-input__inner{
	padding-right: 8px;
}
.input-box .el-date-editor .el-range__icon,
.input-box .el-date-editor .el-range__close-icon,
.input-box .el-date-editor .el-range-separator{
	line-height: 28px;
}
/* .input-box .el-date-editor.el-input,
.input-box .el-date-editor.el-input__inner{
	border-radius: 10px;
} */
.input-box .el-date-editor .el-range-input,
.input-box .el-date-editor .el-range-separator{
	color: #1a1a2e;
}

/* full-calendar */
.calendar.fc .fc-button-primary{
	background-color:  #fff;
	border-color: #b2bbca;
	color: #666;
}
.calendar.fc .fc-button-primary:hover{
	border-color: #2B5BC7;
	background-color: #fff;
	color: #2B5BC7;
}
.calendar.fc .fc-button:disabled,
.calendar.fc .fc-button.fc-today-button:disabled{
	background-color: #cfd5e2;
	border-color: #9ba4b4;
	color: #9ba4b4;
	cursor: default;
}
.calendar.fc .fc-button-primary:disabled:hover{
	border-color: #9ba4b4;
}
.calendar.fc .fc-button.fc-today-button{
	background-color: #2B5BC7;
	border-color: #2B5BC7;
	color: #fff;
}

.calendar.fc .fc-button .fc-icon{
	color: #666;
}
.calendar.fc .fc-button:hover .fc-icon{
	color: #2B5BC7;
}

.calendar.fc-theme-standard th{
	padding: 8px 0;
}

.calendar.fc .fc-daygrid-day-number{
	margin: 2px;
}

.calendar.fc .fc-daygrid-day.fc-day-today{
	background-color: transparent;
}
.calendar.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number{
	font-weight: 700;
	background-color: #2B5BC7;
	color: #fff;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	text-align: center;
}

/* amchart */
.chart-wrap{
	font-size: 0.88em;
}

.input-checkbox{
	display: flex;
	align-items: center;
	position: relative;
}
.input-checkbox__label span{
	color: #9ba4b4;
	font-size: 0.86em;
	margin-left: 6px;
}

.component-box-top .input-checkbox{
	position: relative;
	margin-left: 32px;
}
.component-box-top .input-checkbox:before{
	content:'';
	position: absolute;
	left: -16px;
	top: 0;
	height: 100%;
	width: 2px;
	background-color: #b2bbca;
}
.component-box-top .input-checkbox__label{
	margin-right: 12px;
	padding-bottom: 1px;
}

.input-box.input-box-icon.input-select{
	padding-right: 38px
}
.input-select:hover{	
	border-color: #2b5bc7;
}
.input-select .icon.icon-arrow{
	left: auto;
	right: 6px;
	margin-left: 6px;
}

.selectbox{
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
}
.selectbox::-ms-expand{
	display: none;
}


/* button */
.buttons{
	display: flex;
	align-items: center;
}
.buttons.buttons--center{
	justify-content: center;
}
.buttons .button + .button {
	margin-left: 1.3em;
}

.button{
	padding: 8px 12px;
	border-radius: 4px;
	border: 1px solid #b2bbca;
	background-color: #fff;
	color: #666;
	font-size: 0.88em;
	display: flex;
	align-items: center;
}
.button.button--small{
	padding: 4px 6px;
}
.button:hover{
	border-color: #2B5BC7;
	/* color: #2B5BC7; */
}
.button.on{
	background-color: #2B5BC7;
	border-color: #2B5BC7;
	color: #fff;
}

.button.disabled{
	background-color: #f0f0f0;
	color: rgba(103, 112, 124, 0.3);
	cursor: default;
}
.button.disabled:hover{
	border-color: #b2bbca;
	color: rgba(103, 112, 124, 0.3);
}

.button.button-red-full{
	border-color: #e94560;
	background-color: #e94560;
	color: #fff;
}
.button.button-red-full{
	border-color: #e94560;
	background-color: #e94560;
	color: #fff;
}

.button.button__save{
	border-color: #2B5BC7;
	background-color: #2B5BC7;
	color: #fff;
}

.buttons-complete{
	margin-top: 32px;
	
	display: flex;
	justify-content: center;
}
.buttons-complete .button{
	min-width: 72px;
	padding: 12px 24px;
	border-radius: 21px;
	justify-content: center;
	font-size: 1em;
}
.buttons-complete .button__submit{
	border-color: #2B5BC7;
	background-color: #2B5BC7;
	color: #fff;
}

.button__move > span{
	order: 2;
}
.button__move .button__up{
	order: 1;
}
.button__move .button__down{
	order: 3;
	transform: rotate(180deg)
}

.button__prev .icon-triangle,
.button__next .icon-arrow{
	transform: rotate(270deg);
	margin-right: 0;
}
.button__next .icon-triangle,
.button__prev .icon-arrow{
	transform: rotate(90deg);
	margin-right: 0;
}

.button__alert.on{
	position: relative;
}
.button__alert.on:before{
	content: '';
	position: absolute;
	top: -2px;
	right: 0px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 1px solid #fff;
	background-color: #e94560;
}

.button__sitemap{
	display: flex;
	align-items: center;
	padding: 12px 24px;
	opacity: 0.5;
}
.button__sitemap .icon{
	margin-right: 12px;
}
.button__sitemap:hover{
	opacity: 1;
	transition: opacity 0.4s;
}

.button__calendar{
	position: absolute;
	right: 6px;
}

.button-state{
	display: block;
	min-width: 48px;
	color: #fff;
	font-size: 0.86em;
	padding: 8px;
	border: 0;
}
.button-state:hover{
	color: #fff;
}
.button-state.true{
	background-color: #1e3799;
}
.button-state.false{
	background-color: #e94560;
}

.button-state .button-txt{
	display: none;
}
.button-state.true .button-txt__true{
	display: block;
}
.button-state.false .button-txt__false{
	display: block;
}

.button-state.button-state__3options.opt1{
	background-color: #1e3799;
}
.button-state.button-state__3options.opt2{
	background-color: #6a197d;
}
.button-state.button-state__3options.opt3{
	background-color: #e94560;
}

.button-state.button-state__3options.opt1 .button-txt__opt1{
	display: block;
}
.button-state.button-state__3options.opt2 .button-txt__opt2{
	display: block;
}
.button-state.button-state__3options.opt3 .button-txt__opt3{
	display: block;
}


.button__logout,
.button__admin{
	display: flex;
	align-items: center;
	padding: 8px 24px;
}

.button__pagination{
	padding: 8px;
	margin: 0 6px;
}


/* switch-box */
.switch-box{
	display: flex;
	align-items: center;
}
.switch-box .el-switch{
	margin-left: 8px;
}


/* pagination */
.pagination{
	display: flex;
	justify-content: center;
	margin-top: 16px;
}
.pagination > ul{
	display: flex;
	align-items: center;
}
.pagination > ul > li{
	opacity: 0.8;
	color: #67707c;
}
.pagination > ul > li.on{
	font-weight: 700;
	opacity: 1;
	color: #1b1c25;
}


/* progress-bar */
.progress-box-wrap{
	display: flex;
	align-items: center;
	width: 100%;
}
.progress-box{
	position: relative;
	height: 24px;
	margin: 8px 0;
}
.progress-box > * {
	position: absolute;
	left: 0;
	top: 0;
	height: 24px;
}

.progress__bar{
	background-color: #3C7DFF;
	border-radius: 4px;
	z-index: 1;
}
.progress__bg{
	width: 100%;
	background-color: #f5f6f8;
	border-radius: 4px;
}

.progress__2bars .progress__bar1{
	width: 77%;
}
.progress__2bars .progress__bar2{
	width: 23%;
	border-left: 2px solid #fff;
}
.progress__bar1 .progress__bar{
	border-radius: 4px 0 0 4px;
}
.progress__bar2 .progress__bar{
	background-color: #7FD323;
	border-radius: 0 4px 4px 0;
}


/* error */
.error{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: #f5f6f8;
}
.error .inner-wrap{
	margin-top: -16vh;
}
.error .error-code {
	color: #F41200;
	font-size: 7rem;
	font-weight: 700;
	text-align: center;
}
.error .msg-error {
	color: #67707c;
	font-size: 2.4rem;
	font-weight: 700;
	text-align: center;
}

/* color */
.bg-opt1{
	background-color: #3A579B;
}
.bg-opt2{
	background-color: #CE0D00
}
.bg-opt3{
	background-color: #7FD323;
}
.bg-opt4{
	background-color: #7B26D7;
}
.bg-opt5{
	background-color: #AEB9CB;
}
.bg-opt6{
	background-color: #FE8F00;
}
.bg-opt7{
	background-color: #3C7DFF;
}

/* mobile */
@media (max-width: 768px) {
	.mobile{
		display: block;
	}
	.no-mobile{
		display: none !important;
	}

	/* ========== layout ========== */
	.wrap{
		grid: 'header'
					'container';
		grid-template-columns: 1fr;
	}

	.header{
		position: relative;
		height: 56px;
		padding: 0 16px;
		z-index: 100;
		width: 100vw;
		box-sizing: border-box;
	}


	/* header */
	.header .header-top{
		padding: 0;
	}

	.header .page__title{
		font-size: 14px;
		opacity: 0.4;
	}
	.header .header-top .section__title{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	/* gnb */
	.gnb{
		position: static;
	}
	.header .button__nav{
		position: absolute;
		right: 16px;
		top: 12px;
		width: 32px;
		height: 32px;
	}
	.button__nav .nav-bar{
		position: absolute;
		left: 5px;
		width: 22px;
		height: 2px;
		border-radius: 1px;
		background-color: #1a1a2e;
	}
	.button__nav .nav-bar:first-of-type{
		top: 7px;
	}
	.button__nav .nav-bar:nth-of-type(2){
		top: 15px;
	}
	.button__nav .nav-bar:nth-of-type(3){
		top: 23px;
	}

	.gnb .button__nav + p{
		display: none;
	}

	.gnb-wrap{
		display: none;
	}

	.gnb-wrap.show{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		padding: 20px 24px 56px;
		box-sizing: border-box;
		z-index: 500;
	}

	.gnb-wrap .button__close{
		position: absolute;
		right: 0px;
		top: 12px;
		width: 32px;
		height: 32px;
	}
	.gnb-wrap .button__close .close-bar{
		position: absolute;
		left: 5px;
		width: 22px;
		height: 2px;
		border-radius: 1px;
		background-color: #fff;
	}
	.gnb-wrap .button__close .close-bar:first-of-type{
		transform: rotate(45deg);
	}
	.gnb-wrap .button__close .close-bar:nth-of-type(2){
		transform: rotate(-45deg);
	}


	/* container */
	.container{
		height: calc(100vh - 57px);
		width: 100vw;
		padding: 16px 16px 24px;
		overflow: hidden;
		box-sizing: border-box;
	}
	.mypage-container{
		height: calc(100vh - 56px);
		overflow: auto;
	}


	/* section */
	.section__contents{
		overflow-y: auto;
		height: 100%;
		width: 100%;
	}

	.section__mypage{
		width: 100vw;
	}

	.section-top{
		justify-content: flex-start;
		/* margin-bottom: 16px; */
	}
	.section__title{
		margin-bottom: 0;
	}
	.section__contents .section__title{
		display: none;
	}

	/* component */
	.component-area{
		padding: 24px
	}
	.component-box.component-box-top{
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.component-box.component-box-top > *:first-child{
		margin-bottom: 8px;
	}
	.component-box.component-box-top > .input-box{
		width: 100%;
	}
	

	/* popup */
	.popup.show{
		height: calc(100vh - 56px);
	}
	.popup-contents .vue-daum-postcode{
		width: 100%;
	}


	/* logo temp */
	.logo.logo-rec .mark{
		font-size: 2em;
		width: 40px;
		height: 40px;
	}
	.logo.logo-rec p:last-child > span:first-child{
		font-size: 18px;
	}
	.logo.logo-rec p:last-child > span:last-child{
		font-size: 12px;
	}

	/* select-options */
	.select-options{
		grid-template-columns: repeat(auto-fit, minmax(42%, auto));
		gap: 8px;
	}

	/* input-box */
	.input-box{
		box-sizing: border-box;
	}
	.input-box .input-box{
		width: auto;
	}
	.input-box > * + *{
		margin-left: 4px;
	}

	.section-top > .input-box,
	.section-top > .input-box-wrap{
		width: 100%;
	}
	.section-top > .input-box,
	.section-top > .input-box-wrap > .input-box{
		justify-content: flex-start;
	}
	.section-top .input-box .button{
		padding: 8px;
	}

	/* input */
	.input,
	.input-select{
		width: 76%;
	}

	/* el-date-picker */
	.input-box .el-date-editor.el-input,
	.input-box .el-date-editor.el-input__inner{
		max-width: 40%;
	}
	.input-box .el-date-editor.el-date-editor--month{
		max-width: 32%;
	}
	.input-box-wrap > .input-box > .el-date-editor.el-date-editor--month{
		max-width: 100%;
	}
	.input-box .el-date-editor.el-date-editor--daterange{
		max-width: 100%;
	}
	

	.msg-state{
		text-align: center;
	}

	/* lst-cards */
	.lst-cards{
		grid-gap: 8px;
	}
}
