<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style.css">
	<title>ACE Business Portal</title>
</head>

<body>
	<div class="wrap">
		<header class="header user-header">
			<div class="header-top">
				<a href="../crm/opportunities-form.html" class="no-mobile">
					<h1 class="logo logo-line">
						<p class="mark">
							<span>A</span>
						</p>
						<p>
							<span>ACE Business Portal</span>
							<span>Agile Centric Efficiency</span>
						</p>
					</h1>
				</a>
				<button type="button" class="button__back mobile">
					<span class="icon icon-prev-page"></span>
					<span class="blind">이전페이지</span>
				</button>
				<h2 class="section__title mobile">유연 근무 등록</h2>
				<ul class="util-menu no-mobile">
					<li class="util-menu__link">
						<button class="button">관리자 페이지</button>
					</li>
					<li class="util-menu__link">
						<button type="button" class="button__alert">
							<span class="icon icon-alert">
								<span class="blind">알림</span>
							</span>
						</button>
					</li>
					<li class="util-menu__link">
						<a href="../mypage.html">
							<div class="user-name">
								<div class="img-user">
									<img src="../images/sample1.jpeg" alt="">
								</div>
								<p>홍길동</p>
							</div>
						</a>
					</li>
				</ul>
			</div>
			<nav class="gnb">
				<button type="button" class="lnb-icon flex-box no-mobile">
					<div class="button__lnb">
						<span class="nav-bar"></span>
						<span class="nav-bar"></span>
						<span class="nav-bar"></span>
					</div>
					<span>메뉴</span>
				</button>
				<div class="nav-icon mobile">
					<button type="button" class="button__nav">
						<span class="nav-bar"></span>
						<span class="nav-bar"></span>
						<span class="nav-bar"></span>
					</button>
				</div>
				<div class="gnb-wrap">
					<div class="gnb-top mobile">
						<div class="user-name">
							<div class="img-user">
								<img src="../images/sample1.jpeg" alt="">
							</div>
							<div class="user-info-box">
								<p class="info__name">
									<span class="bold">홍길동</span> 님
								</p>
								<p class="info__dept">컨설팅본부</p>
								<p class="info__id">사원번호 <span class="bold">676324</span></p>
							</div>
						</div>
						<a href="my/myPage" class="link link-mypage flex-box">마이페이지</a>
					</div>
					<ul class="lst-gnb">
						<li class="lst-gnb__item">
							<span>영업 CRM</span>
							<div class="gnb-sub">
								<ul class="lst-gnb-sub">
									<li class="lst-sub__title">
										<p>영업 기회</p>
									</li>
									<li class="lst-sub__item">
										<a href="../crm/opportunities-form.html" class="lst-sub__link">
											<span>영업 기회 등록</span>
										</a>
									</li>
									<li class="lst-sub__item">
										<a href="../crm/opportunities.html" class="lst-sub__link">
											<span>영업 기회 현황</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="lst-gnb__item on">
							<span>유연 근무</span>
							<div class="gnb-sub">
								<ul class="lst-gnb-sub">
									<li class="lst-sub__title">
										<p>유연 근무 유형</p>
									</li>
									<li class="lst-lnb__item on">
										<a href="../agile/agile-working-form.html" class="lst-sub__link">
											<span>유연 근무 등록</span>
										</a>
									</li>
									<li class="lst-sub__item">
										<a href="../agile/agile-working-list.html" class="lst-sub__link">
											<span>유연 근무 조회</span>
										</a>
									</li>
								</ul>
								<ul class="lst-gnb-sub">
									<li class="lst-sub__title">
										<p>근태 관리</p>
									</li>
									<li class="lst-sub__item">
										<a href="../agile/attendance.html" class="lst-sub__link">
											<span>출/퇴근 등록</span>
										</a>
									</li>
									<li class="lst-sub__item">
										<a href="../agile/working-time.html" class="lst-sub__link">
											<span>근무 실적 조회</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="lst-gnb__item">
							<span>EIS</span>
							<div class="gnb-sub">
								<ul class="lst-gnb-sub">
									<li class="lst-sub__title">
										<p>재무 관리</p>
									</li>
									<li class="lst-sub__item">
										<a href="../eis/financial-analysis.html" class="lst-sub__link">
											<span>재무 분석</span>
										</a>
									</li>
									<li class="lst-sub__item">
										<a href="../eis/profit-and-loss.html" class="lst-sub__link">
											<span>손익 분석</span>
										</a>
									</li>
								</ul>
								<ul class="lst-gnb-sub">
									<li class="lst-sub__title">
										<p>CRM</p>
									</li>
									<li class="lst-sub__item">
										<a href="../eis/crm-opportunities.html" class="lst-sub__link">
											<span>영업 기회 분석</span>
										</a>
									</li>
									<li class="lst-sub__item">
										<a href="../eis/crm-activities.html" class="lst-sub__link">
											<span>영업 활동 분석</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
					<div class="buttons mobile">
						<button class="button__admin">
							<span class="icon icon-module"></span>
							관리자 페이지
						</button>
						<button class="button__logout">
							<span class="icon icon-logout"></span>
							로그아웃
						</button>
					</div>
					<button class="button__close mobile">
						<span class="icon icon-close"></span>
					</button>
				</div>
			</nav>
		</header>
		<div class="lnb">
			<ul class="lst-lnb lst-lnb__eis">
				<li class="lst-lnb__item">
					<div>유연근무</div>
					<ul>
						<li class="lst-lnb__item show">
							<div>
								유연 근무 유형
								<span>-</span>
							</div>
							<ul>
								<li class="lst-lnb__item">
									<div>
										<a href="agile-working-form.html" class="lst-lnb__link">
											<span>유연 근무 등록</span>
										</a>
									</div>
								</li>
								<li class="lst-lnb__item">
									<div>
										<a href="agile-working-list.html" class="lst-lnb__link">
											<span>유연 근무 조회</span>
										</a>
									</div>
								</li>
							</ul>
						</li>
						<li class="lst-lnb__item show">
							<div>
								근태 관리
								<span>-</span>
							</div>
							<ul>
								<li class="lst-lnb__item">
									<div>
										<a href="attendance.html" class="lst-lnb__link">
											<span>출/퇴근 등록</span>
										</a>
									</div>
								</li>
								<li class="lst-lnb__item">
									<div>
										<a href="working-time.html" class="lst-lnb__link">
											<span>근무 실적 조회</span>
										</a>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="container user-container">
			<section class="section__contents">
				<div class="inner-wrap">
					<div class="section-top">
						<h3 class="section__title">유연 근무 등록</h3>
					</div>
					<div class="component-area">
						<div class="component-box">
							<div class="component-box-top">
								<p class="component__title">유연 근무 유형</p>
							</div>
							<div class="component-box-cnt">
								<div class="select-options">
									<div class="input-radio select-options__item">
										<input type="radio" class="input" id="31" name="workType">
										<label for="31">시차 출퇴근제</label>
									</div>
									<div class="input-radio select-options__item">
										<input type="radio" class="input" id="32" name="workType">
										<label for="32">선택적 근무제</label>
									</div>
									<div class="input-radio select-options__item">
										<input type="radio" class="input" id="33" name="workType">
										<label for="33">탄력 근무제</label>
									</div>
									<div class="input-radio select-options__item">
										<input type="radio" class="input" id="34" name="workType">
										<label for="34">재택근무제</label>
									</div>
								</div>
							</div>
						</div>
						<div class="component-box">
							<div class="component-box-top">
								<p class="component__title">근무 그룹명</p>
							</div>
							<div class="component-box-cnt">
								<div class="input-box">
									<input class="input " type="text" placeholder="입력하세요">
									<button type="button" class="button">
										<span class="icon icon-check"></span>
										중복 확인
									</button>
								</div>
							</div>
						</div>
						<div class="component-box">
							<div class="component-box-top">
								<p class="component__title">1일 표준 근로시간</p>
							</div>
							<div class="component-box-cnt">
								<div class="select-options">
									<div class="input-radio select-options__item">
										<input type="radio" class="input" id="96" name="stdWorkingHours">
										<label for="96">6시간</label>
									</div>
									<div class="input-radio select-options__item">
										<input type="radio" class="input" id="97" name="stdWorkingHours">
										<label for="97">7시간</label>
									</div>
									<div class="input-radio select-options__item">
										<input type="radio" class="input" id="98" name="stdWorkingHours">
										<label for="98">8시간</label>
									</div>
								</div>
							</div>
						</div>
						<div class="component-box">
							<div class="component-box-top">
								<p class="component__title">근무요일</p>
							</div>
							<div class="component-box-cnt">
								<div class="select-options">
									<div class="input-checkbox select-options__item">
										<input type="checkbox" id="workdayMon" class="input" v-model="workWeekList" value="2" />
										<label for="workdayMon">월요일</label>
									</div>
									<div class="input-checkbox select-options__item">
										<input type="checkbox" id="workdayTue" class="input" v-model="workWeekList" value="3" />
										<label for="workdayTue">화요일</label>
									</div>
									<div class="input-checkbox select-options__item">
										<input type="checkbox" id="workdayWed" class="input" v-model="workWeekList" value="4" />
										<label for="workdayWed">수요일</label>
									</div>
									<div class="input-checkbox select-options__item">
										<input type="checkbox" id="workdayThu" class="input" v-model="workWeekList" value="5" />
										<label for="workdayThu">목요일</label>
									</div>
									<div class="input-checkbox select-options__item">
										<input type="checkbox" id="workdayFri" class="input" v-model="workWeekList" value="6" />
										<label for="workdayFri">금요일</label>
									</div>
									<div class="input-checkbox select-options__item">
										<input type="checkbox" id="workdaySat" class="input" v-model="workWeekList" value="7" />
										<label for="workdaySat">토요일</label>
									</div>
									<div class="input-checkbox select-options__item">
										<input type="checkbox" id="workdaySun" class="input" v-model="workWeekList" value="1" />
										<label for="workdaySun">일요일</label>
									</div>
								</div>
							</div>
						</div>
						<div class="component-box">
							<div class="component-box-top">
								<p class="component__title">정산 단위 기간</p>
							</div>
							<div class="component-box-cnt">
								<div class="select-options">
									<div class="input-radio select-options__item">
										<input type="radio" class="input" id="99" name="settlementUnit">
										<label for="99">1주</label>
									</div>
									<div class="input-radio select-options__item">
										<input type="radio" class="input" id="100" name="settlementUnit">
										<label for="100">2주</label>
									</div>
									<div class="input-radio select-options__item">
										<input type="radio" class="input" id="101" name="settlementUnit">
										<label for="101">1개월</label>
									</div>
									<div class="input-radio select-options__item">
										<input type="radio" class="input" id="34" name="settlementUnit">
										<label for="102">3개월</label>
									</div>
								</div>
							</div>
						</div>
						<div class="component-box">
							<div class="component-box-top">
								<p class="component__title">휴게시간</p>
								<div class="input-checkbox">
									<input type="checkbox" id="checkboxNotUse">
									<label for="checkboxNotUse" class="input-checkbox__label  icon-checkbox-purple">
										<span>휴게시간 없음</span>
									</label>
								</div>
							</div>
							<div class="component-box-cnt">
								<div class="input-box">
									<input class="input" type="text" placeholder="입력하세요">
									<button type="button" class="button button__add">
										<span class="icon icon-add"></span>
										추가
									</button>
								</div>
							</div>
						</div>
						<div class="component-box">
							<div class="component-box-top">
								<p class="component__title">의무시간 (Core Time)</p>
								<div class="input-checkbox">
									<input type="checkbox" id="checkboxNotUse">
									<label for="checkboxNotUse" class="input-checkbox__label  icon-checkbox-purple">
										<span>의무시간 없음</span>
									</label>
								</div>
							</div>
							<div class="component-box-cnt">
								<div class="input-box">
									<input class="input" type="text" placeholder="입력하세요">
									<button type="button" class="button button__add">
										<span class="icon icon-add"></span>
										추가
									</button>
								</div>
							</div>
						</div>
						<div class="component-box">
							<div class="component-box-top">
								<p class="component__title">근무 시간</p>
							</div>
							<div class="component-box-cnt">
								<div class="input-box input-box-icon">
									<input class="input input-icon" type="text" placeholder="입력하세요">
									<span class="icon icon-clock"></span>
								</div>
							</div>
						</div>
						<div class="component-box">
							<div class="component-box-top">
								<p class="component__title">적용 기간</p>
							</div>
							<div class="component-box-cnt">
								<div class="input-box input-box-icon">
									<input class="input input-icon" type="text" placeholder="입력하세요">
									<span class="icon icon-calendar"></span>
								</div>
							</div>
						</div>
						<div class="component-box">
							<div class="component-box component-box-top">
								<p class="component__title">근무 대상자 등록</p>
								<div class="buttons">
									<button type="button" class="button button__dept">부서별 등록</button>
									<button type="button" class="button button__member">사원별 등록</button>
								</div>
							</div>
							<div class="component-box-cnt">

								<div class="lst-cards lst-cards__4colums">
									<div class="lst-cards__item cards__member">
										<div class="user-name">
											<div class="img-user">
												<img src="../images/sample1.jpeg" alt="">
											</div>
											<p>홍길동
												<span class="user-position">차장</span>
												<span class="user-dept">개발1팀</span>
											</p>
										</div>
										<button type="button" class="button__delete">
											<span class="icon icon-close"></span>
											<span class="blind">삭제</span>
										</button>
									</div>
									<div class="lst-cards__item cards__member">
										<div class="user-name">
											<div class="img-user">
												<img src="../images/sample2.jpeg" alt="">
											</div>
											<p>최수현
												<span class="user-position">과장</span>
												<span class="user-dept">개발2팀</span>
											</p>
										</div>
										<button type="button" class="button__delete">
											<span class="icon icon-close"></span>
											<span class="blind">삭제</span>
										</button>
									</div>
									<div class="lst-cards__item cards__member">
										<div class="user-name">
											<div class="img-user">
												<img src="../images/sample3.jpeg" alt="">
											</div>
											<p>김우중
												<span class="user-position">대리</span>
												<span class="user-dept">개발1팀</span>
											</p>
										</div>
										<button type="button" class="button__delete">
											<span class="icon icon-close"></span>
											<span class="blind">삭제</span>
										</button>
									</div>
									<div class="lst-cards__item cards__member">
										<div class="user-name">
											<div class="img-user">
												<img src="../images/sample1.jpeg" alt="">
											</div>
											<p>김영희
												<span class="user-position">사원</span>
												<span class="user-dept">개발1팀</span>
											</p>
										</div>
										<button type="button" class="button__delete">
											<span class="icon icon-close"></span>
											<span class="blind">삭제</span>
										</button>
									</div>
									<div class="lst-cards__item cards__dept">
										<div class="dept-name">
											<span class="icon icon-dept__large"></span>
											<p>
												개발사업부
											</p>
										</div>

										<button type="button" class="button__delete">
											<span class="icon icon-close"></span>
											<span class="blind">삭제</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="buttons-complete">
						<div class="buttons">
							<button type="submit" class="button button__submit">등록</button>
							<button type="button" class="button button__copy-save">복사 저장</button>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

	<script>

	</script>
</body>

</html>